@model dynamic

<ul>
    <li class="lvl1">
        <a href="/">Startseite</a>
    </li>
    <li class="lvl2">
        <a href="/home/aboutus">About Us</a>
    </li>
    <li class="lvl1">
        <a href="/user">User</a>
    </li>
    <li class="lvl2">
        <a href="/user/login">Login</a>
    </li>
    <li class="lvl2">
        <a href="/user/registration">Registration</a>
    </li>
    <li class="lvl1">
        <a href="/shop">Shop</a>
    </li>
    <li class="lvl2">
        <a href="/shop/search">Suche</a>
    </li>
    <li class="lvl2">
        <a href="/shop/basket">Warenkorb</a>
    </li>
</ul>